*{
    margin:0;
    padding: 0;
}
body{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
h2{
    height: 30px;
    line-height: 30px;
    margin: 10px 0px;
}
.desc-title{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
}
.desc{
    height: 20px;
    line-height: 20px;
    color: #ccc;
    text-indent: 40px;
}
a{
    cursor: pointer;
}